@import url('https://fonts.googleapis.com/css?family=Heebo:800|Raleway:100,200,400,700,900');


body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden !important;
  position: relative;
  width: 100% !important;
}

section {
  .container {
    position: relative !important;
  }
}


/* ----------- home bar ------------- */
.navbar-section {
  .navbar {
    background-color: white !important;


  }
}


/* --------------------- Footer ----------------------*/
.footer {
  position: static;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 180px;
  line-height: 90px; /* Vertically center the text there */
  background-color: #1F2933;

  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  .footer-text {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    margin-bottom: -70px;
    color: #E3E3E3;
  }
  img {
    height: 45px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: -40px;
  }

  a {
    color: rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    margin-right: 5px;
    font-weight: 300;
  }
}
